@model ketabSara.Areas.Admin.Models.Dashboard.AdminDashboardViewModel;

@{
    ViewData["PageTitle"] = "صفحه اصلی";
    ViewData["SelectedItem"] = "index";
}

<div class="container-xxl flex-grow-1 container-p-y">


    <div class="card" style="margin-top:120px">
        <h5 class="card-header heading-color">لیست نویسندگان</h5>
        <div class="table-responsive text-nowrap" style="padding-bottom:80px;">
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>لیست کتابها</th>

                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                @{
                    foreach (var authorItem in Model.AuthorDtos)
                    {
                        <tr>
                            <td>@authorItem.Id</td>
                            <td>@authorItem.Name</td>
                            <td>@authorItem.Family</td>
                            <td>
                                <span class="badge bg-label-primary me-1">فعال</span>
                            </td>
                        </tr>
                    }
                }


                </tbody>
            </table>
        </div>
    </div>


    @* BooksList *@

    <div class="card" style="margin-top:80px">
        <h5 class="card-header heading-color">لیست کتابها</h5>
        <div class="table-responsive text-nowrap" style="padding-bottom:80px;">
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>نام کتاب</th>
                    <th>نویسنده</th>
                    <th>قیمت</th>

                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @{
                        foreach (var bookItem in Model.BookDtos)
                        {
                            <tr>
                                <td>@bookItem.Id</td>
                                <td>@bookItem.Title</td>
                                <td>@bookItem.Price</td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>


</div>