@model List<ketabSara.Areas.Admin.Models.Author.AuthorViewModel>

@{
    ViewData["PageTitle"] = "لیست نویسندگان";
    ViewData["SelectedItem"] = "authorlists";
}


<div class="container-xxl flex-grow-1 container-p-y">

    <div class="mt-4">
        <a class="btn btn-label-info rounded-2" asp-area="Admin" asp-controller="Author" asp-action="Create">ثبت نویسنده جدید</a>
    </div>

    <div class="card" style="margin-top:120px">
        <h5 class="card-header heading-color">لیست نویسندگان</h5>
        <div class="table-responsive text-nowrap" style="padding-bottom:80px;">
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>لیست کتابها</th>
                    <th>عمل‌ها</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                @{
                    foreach (var auhtorViewModel in Model)
                    {
                        <tr>
                            <td>@auhtorViewModel.Id</td>
                            <td>@auhtorViewModel.Name</td>
                            <td>@auhtorViewModel.Family</td>
                            <td>
                                <span class="badge bg-label-primary me-1">فعال</span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Author" asp-action="Edit" asp-route-id="@auhtorViewModel.Id"><i class="bx bx-edit-alt me-1"></i> ویرایش</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Author" asp-action="Delete" asp-route-id="@auhtorViewModel.Id"><i class="bx bx-trash me-1"></i> حذف</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>