@model List<ketabSara.Areas.Admin.Models.Book.BookWithAuthorViewModel>


@{
    ViewData["PageTitle"] = "لیست کتابها";
    ViewData["SelectedItem"] = "booklist";

}


<div class="container-xxl flex-grow-1 container-p-y">

    <div class="mt-4">
        <a class="btn btn-label-info rounded-2" asp-area="Admin" asp-controller="BookDetails" asp-action="Create">ثبت کتاب جدید</a>
    </div>

    <div class="card" style="margin-top:120px">
        <h5 class="card-header heading-color">لیست کتابها</h5>
        <div class="table-responsive text-nowrap" style="padding-bottom:80px;">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>نام کتاب</th>
                        <th>نام نویسنده</th>
                        <th>قیمت</th>
                        <th>عکس</th>
                        <th>عمل‌ها</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                @{
                    foreach (var bookViewModel in Model)
                    {
                        <tr>
                            <td>@bookViewModel.Id</td>
                            <td>@bookViewModel.Title</td>
                            <td>@bookViewModel.AuthorName</td>
                            <td>
                                @bookViewModel.Price تومان
                            </td>
                            <td>
                                <img style="width:100px;" src="~/uploads/@bookViewModel.ImageName"/>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> ویرایش</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="BookDetails" asp-action="Delete" asp-route-id="@bookViewModel.Id"><i class="bx bx-trash me-1"></i> حذف</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>

</div>
